ja-rule.X/build/*
ja-rule.X/debug/*
ja-rule.X/dist/*
ja-rule.X/nbproject/Makefile*
ja-rule.X/nbproject/Package*
ja-rule.X/nbproject/private/*
*.a
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.so*
*.swp
*.tar*
*.trs
*.zip
.deps
.dirstamp
/googlemock-read-only/
/tests/Makefile
/tests/Makefile.in
/tests/aclocal.m4
/tests/autom4te.cache/
/tests/build-stamp
/tests/compile
/tests/config.guess
/tests/config.h
/tests/config.h.in
/tests/config.h.in~
/tests/config.log
/tests/config.status
/tests/config.sub
/tests/configure
/tests/config/compile
/tests/config/config.guess
/tests/config/config.sub
/tests/config/depcomp
/tests/config/install-sh
/tests/config/libtool.m4
/tests/config/ltmain.sh
/tests/config/ltoptions.m4
/tests/config/ltsugar.m4
/tests/config/ltversion.m4
/tests/config/lt~obsolete.m4
/tests/config/missing
/tests/config/py-compile
/tests/config/test-driver
/tests/depcomp
/tests/doxygen_entrydb_*.tmp
/tests/doxygen_objdb_*.tmp
/tests/html/
/tests/install-sh
/tests/libtool
/tests/ltmain.sh
/tests/missing
/tests/stamp-h1
/tests/test-driver
/tests/tests/.libs/
/tests/tests/*_test
/firmware/ja-rule.X/build/mx_795_512l/
/firmware/ja-rule.X/disassembly/
/firmware/ja-rule.X/dist/mx_795_512l/
/firmware/ja-rule.X/nbproject/private/
/Bootloader/firmware/Bootloader.X/nbproject/private/
/Bootloader/firmware/Bootloader.X/build/default/
/Bootloader/firmware/Bootloader.X/dist/default/
/Bootloader/firmware/Bootloader.X/nbproject/Makefile*
/Bootloader/firmware/Bootloader.X/Makefile
/Bootloader/firmware/Bootloader.X/nbproject/Package-default.bash
/Bootloader/firmware/src/system_config/default/asset.cache
/firmware/ja-rule.X/build/ethernet_sk2/
/firmware/ja-rule.X/dist/ethernet_sk2/