ja-rule.X/build/*
ja-rule.X/debug/*
ja-rule.X/dist/*
ja-rule.X/nbproject/Makefile*
ja-rule.X/nbproject/Package*
ja-rule.X/nbproject/private/*
*.a
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.so*
*.swp
*.tar*
*.trs
*.zip
.deps
.dirstamp
/googlemock-read-only/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-stamp
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/libtool.m4
/config/ltmain.sh
/config/ltoptions.m4
/config/ltsugar.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/config/missing
/config/py-compile
/config/test-driver
/depcomp
/tests/doxygen_entrydb_*.tmp
/tests/doxygen_objdb_*.tmp
/tests/html/
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/tests/tests/.libs/
/tests/tests/*_test
/firmware/ja-rule.X/build/mx_795_512l/
/firmware/ja-rule.X/disassembly/
/firmware/ja-rule.X/dist/mx_795_512l/
/firmware/ja-rule.X/nbproject/private/
/Bootloader/firmware/Bootloader.X/nbproject/private/
/Bootloader/firmware/Bootloader.X/build/default/
/Bootloader/firmware/Bootloader.X/dist/default/
/Bootloader/firmware/Bootloader.X/nbproject/Makefile*
/Bootloader/firmware/Bootloader.X/Makefile
/Bootloader/firmware/Bootloader.X/nbproject/Package-default.bash
/Bootloader/firmware/src/system_config/default/asset.cache
/firmware/ja-rule.X/build/ethernet_sk2/
/firmware/ja-rule.X/dist/ethernet_sk2/
/firmware/ja-rule.X/build/number8/
/firmware/ja-rule.X/dist/number8/
/Bootloader/firmware/Bootloader.X/build/ethernet_sk2/
/Bootloader/firmware/Bootloader.X/dist/ethernet_sk2/
/Bootloader/firmware/Bootloader.X/build/number8/
/Bootloader/firmware/Bootloader.X/dist/number8/
