ja-rule.X/build/*
ja-rule.X/debug/*
ja-rule.X/dist/*
ja-rule.X/nbproject/Makefile*
ja-rule.X/nbproject/Package*
ja-rule.X/nbproject/private/*
*.a
*.gcda
*.gcno
*.la
*.lo
*.o
*.so*
*.swp
*.tar*
*.zip
.deps
.dirstamp
/tests/Makefile
/tests/Makefile.in
/tests/aclocal.m4
/tests/autom4te.cache
/tests/compile
/tests/config.guess
/tests/config.h
/tests/config.h.in
/tests/config.log
/tests/config.status
/tests/config.sub
/tests/config/
/tests/configure
/tests/depcomp
/tests/install-sh
/tests/libtool
/tests/ltmain.sh
/tests/missing
/tests/stamp-h1
/tests/test-driver
