language: cpp

script:
 - "bash -ex .travis-ci.sh"

matrix:
  fast_finish: true
  include:
    - compiler: clang
      env: TASK='compile'
    - compiler: gcc
      env: TASK='compile'
    - compiler: gcc
      env: TASK='coverage'
    - compiler: gcc
      env: TASK='coverity'
    - env: TASK='doxygen'
    - env: TASK='lint'
    - env: TASK='check-licences'
  allow_failures:
    - compiler: gcc
      env: TASK='coverage'
    - compiler: gcc
      env: TASK='coverity'

env:
  global:
   # -- BEGIN Coverity Scan ENV
   - COVERITY_SCAN_BUILD_COMMAND_PREPEND="cd tests && autoreconf -i && ./configure"
   # The build command with all of the arguments that you would apply to a manual `cov-build`
   # Usually this is the same as STANDARD_BUILD_COMMAND, exluding the automated test arguments
   - COVERITY_SCAN_BUILD_COMMAND="make"
   # Name of the project
   - COVERITY_SCAN_PROJECT_NAME="$TRAVIS_REPO_SLUG"
   # Email address for notifications related to this build
   - COVERITY_SCAN_NOTIFICATION_EMAIL="ja-rule-coverity@pjnewman.co.uk"
   # Regular expression selects on which branches to run analysis
   # Be aware of quotas. Do not run on every branch/commit
   - COVERITY_SCAN_BRANCH_PATTERN=".*"
   # COVERITY_SCAN_TOKEN via "travis encrypt" using the repo's public key
   - secure: "nF/6EPeDlLYX+tg9UC9XC3hgQhEfed1b78wLG+zOX+dt0DsvKp/JcaeEWOZ2OQriNG0XbX3kIAPmpYA9VrLIGtbv4Yrg8gghvY92pUJe8czAww63PjqqFVNctR5nzjbCncZ7yz1j1KlNuWRTmso6vLWOMVbpGx85A2w013MIT1A="
   # -- END Coverity Scan ENV

cache: apt

before_install:
 # Remove some flaky repos that keep timing out
 - sudo rm /etc/apt/sources.list.d/mongodb.list
 - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
 - sudo add-apt-repository ppa:h-rayflood/llvm-upper -y
 # Required for Doxygen 1.8+
 - sudo add-apt-repository ppa:libreoffice/ppa -y
 # OLA, we need at least 0.9.6 with ByteString
 # TODO: switch this to the PPA when it's ready
 - sudo add-apt-repository http://nomis52.net/data/apt/ -y
 - sudo apt-get update -qq
 - sudo apt-get install --force-yes ola ola-dev libprotobuf-dev
 #Coverity doesn't work with g++ 5, so only upgrade to g++ 4.9 for that
 - if [ "$TASK" != "coverity" -a "$CXX" = "g++" ]; then sudo apt-get install -qq g++-5; fi
 - if [ "$TASK" != "coverity" -a "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
 - if [ "$TASK" = "coverity" -a "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.9; fi
 - if [ "$TASK" = "coverity" -a "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi
 #Remove the old g++/gcc to ensure we're using the latest ones
 - if [ "$CXX" = "g++-4.9" -o "$CXX" = "g++-5" ]; then sudo rm /usr/bin/g++; sudo rm /usr/bin/gcc; fi
 #Install latest clang if we're compiling with clang
 - if [ "$CXX" = "clang++" ]; then sudo apt-get install -qq clang-3.6; fi
 - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.6" CC="clang-3.6"; fi
 #Remove the old clang to ensure we're using the latest ones
 - if [ "$CXX" = "clang++-3.6" ]; then sudo rm /usr/local/clang-3.4/bin/clang; sudo rm /usr/local/clang-3.4/bin/clang++; fi
 #Report the compiler version
 - $CXX --version
 #Install coveralls if required
 - if [ "$TASK" = "coverage" ]; then sudo pip install -qq cpp-coveralls; fi
 #Install doxygen if required
 - if [ "$TASK" = "doxygen" ]; then sudo apt-get install -qq doxygen graphviz; fi
 - if [ "$TASK" = "compile" -o "$TASK" = "doxygen" -o "$TASK" = "coverage" -o "$TASK" = "coverity" ]; then ./install-gmock.sh; fi

after_success:
 - if [ "$TASK" = "coverity" ]; then cat /home/travis/build/${TRAVIS_REPO_SLUG}/tests/cov-int/scm_log.txt; fi
 - if [ "$TASK" = "coverage" ]; then cd tests; coveralls --gcov /usr/bin/gcov-5 -b . -e include -e mocks -e config.h -e harmony -e system_config -E '.*Test\.cpp$' --gcov-options '\-lp' --follow-symlinks > /dev/null; fi

after_failure:
 - cat /home/travis/build/${TRAVIS_REPO_SLUG}/tests/config.log


#No notifications for now
#notifications:
#  irc:
#    channels:
#     - "chat.freenode.net#openlighting"
#    on_success: change
#    on_failure: change
